
.box { margin-top: 3vh !important; padding: 20px; border: solid 1px var(--main-border-color) }

.box h1 {
  padding: 5px 0;
  font-size: 19pt;;
}

.box h3 { padding: 5px 0; border-bottom: solid 0.1em var(--main-border-color); }
.box h4 { margin-bottom:11px; padding-bottom: 11px; border-bottom: solid 0.1em var(--main-primary-color); }

.box h1, h3 {
  margin: 0 19px;
  font-family: 'Amaranth', serif;
}

.box img { width: 100%; height: 300px; object-fit: cover }

.ingredients {
  background-color: var(--main-border-color);
  padding: 20px 15px;
  margin: 20px 19px;
  border-radius: 5px;
}

.button {
  background: none;
  padding: 0;
  width: 40px;
}

.head {  }
.feedback { vertical-align: center }
.feedback img { height: 40px;}


/* .box {
  position: fixed;
  top: 0;
  width: 100%;
}



.title {
  position: absolute;
  bottom: 11px;
  left: 50%;
  font-family: 'Amaranth', serif;
  font-size: 30pt;
  transform: translateX(-50%);
} */