
.box { margin-top: 3vh !important; border: solid 1px var(--main-border-color) }

.box h1 {
  text-align: center;
  margin-left: 19px;
  padding: 11px 5px;
  font-family: 'Amaranth', serif;
  font-size: 19pt;;
}

.hero {
  width: 100%;
  height: 600px;
}

.feedback {
  padding: 10px 27px;
}

.feedback img { width: 30px; }