.box {
  border: solid 1px var(--main-border-color);
  display: block;
  margin: 19px 0;
}

.box h1 {
  font-family: Amaranth , serif;
  font-size: 19pt;
  margin-left: 19px;
  padding: 11px 5px;
  text-align: center;
}

.hero {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.feedback {
  padding: 10px 27px;
}

.feedback img { width: 30px; }

.feed { align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70%;}

.feed img { height: 100%;
  width: 100%;}

.button {
  background: none;
  margin: 0 11px;
  overflow: hidden;
  padding: 0;
  width: 34px;
}

.copyButton {
  width: 30px;
}
