.box { border: solid 1px var(--main-border-color);
  margin-top: 3vh; }

.box h1 {
  font-family: Amaranth , serif;
  font-size: 19pt;
  margin-left: 19px;
  padding: 11px 5px;
  text-align: center;
}

.hero {
  height: 600px;
  width: 100%;
}

.feedback {
  padding: 10px 27px;
}

.feedback img { width: 30px; }

button {
  background-color: none;
}
