.content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: #1E1E1E;
    padding: 15px;
    margin: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;

    border-radius: 15px;
}

.card h1{
    font-family: Amaranth , sans-serif;
    text-align: center;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.1)
}

