.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background-color: #1e1e1e;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 15px;
  transition: 0.3s ease-in-out;

}

.card h1 {
  font-family: Amaranth , sans-serif;
  font-weight: 600;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}
