.footer {
  background-color: #005db9;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer .button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
