.container {
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 5px 0;
}

button {
  margin-top: 5px;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
