.recomendedRecipesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}


.recomendedRecipes {
  min-width: 51%;
  margin: 0 0.5rem;
  scroll-snap-align: initial;
  scroll-snap-type: x mandatory;
  width: 51%;
  flex-shrink: 0;
}
