.recomendedRecipesContainer {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}


.recomendedRecipes {
  flex-shrink: 0;
  margin: 0 0.5rem;
  min-width: 51%;
  scroll-snap-align: initial;
  scroll-snap-type: x mandatory;
  width: 51%;
}
