.divSearchInput {
  margin: 10px auto;
  width: 90%;
}

.divSearchInput .searchInput {
  border-radius: 10px;
  border-color: #D1D1D1;
  padding: 5px;
  width: 100%;
}

.radio-group {
  display: flex;
  justify-content: space-evenly;
}

.divSearchInput .search-btn {
  background-color: #DF3075;
  border: none;
  border-radius: 5px;
  color: #FFF;
  padding: 5px;
  width: 100%;
}
