* {
  border: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

:root {

  --main-background-color: rgb(06, 06, 06);

  --main-primary-color: black;

  --main-secondary-color: rgb(58, 58, 58);

  --main-button-color: rgb(0, 187, 255);

  --main-button-disabled-color: rgb(0, 161, 248);

  --main-border-color: rgb(30, 30, 30);

  --main-text-color: white;
}

.primary_color { background-color: var(--main-primary-color); }

.secondary_color { background-color: var(--main-secondary-color); }

/* Roboto Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') ;

/* Amaranth Font */

@font-face {
  font-family: Amaranth;
  src: url('../fonts/Amaranth-Regular.ttf') format('truetype');
}

@media screen and ( max-width : 800px ) {

  .wrapper { margin: 0 auto;
    width: 100%; }

  iframe {
    height: 230px;
    width: 100%;
  }
}

@media screen and ( min-width : 801px ) {

  .wrapper { margin: 0 auto;
    width: 800px; }

  iframe {
    height: 480px;
    width: 100%;
  }
}

/* --------------------------------------------------------- */
body {
  background-color: var(--main-background-color);
  border-color: var(--main-border-color);
  color: var(--main-text-color);
  font-family: Roboto , sans-serif;
}

.center_middle {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.relative { position: relative; }

.box { border-bottom: solid 0.1em var(--main-border-color);
  padding: 17px;
  text-align: center; }

.login { max-width: 310px;
  min-width: 260px; }

.flex { display: flex; }

.justify_content_between { justify-content: space-between; }

.justify_content_around { justify-content: space-around;}

.flex_direction_column { flex-direction: column; }

.flex_direction_row { flex-direction: row; }


/* Forms */
input {
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  color: rgb(223, 223, 223);
  font-size: 10pt;
  margin-bottom: 7px;
  padding: 10px 7px;
  width: 100%;
}

input::placeholder { color: rgb(124, 124, 124); }

button {
  background-color: var(--main-button-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 7px;
  width: 100%;
}

button:disabled { background-color: var(--main-button-disabled-color);
  cursor: default;
  opacity: 0.8; }
